<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_choose_library_dialog</key>
	<array>
		<string>/home/mdupuis/Calibre Library/Informatique</string>
		<string>/home/mdupuis/Calibre_Library/Bibliothèque/test</string>
		<string>test</string>
		<string>/home/mdupuis/Calibre_Library/Bibliothèque</string>
		<string>/home/mdupuis/Calibre Library/torrentd/KindleCollection</string>
		<string>/home/mdupuis/Calibre Library/Céline</string>
		<string>/home/mdupuis/Calibre Library/Photographie</string>
		<string>/home/mdupuis/Calibre Library/Star Wars</string>
		<string>/home/mdupuis/Calibre Library/Bibliothèque</string>
		<string>/mnt/dasnas/media/LibrairieCalibre/Céline</string>
	</array>
	<key>lineedit_history_match_books_dialog</key>
	<array>
		<string>Book 01 - Rogue Squadronq</string>
		<string>Book 01 - Rogue Squadron</string>
	</array>
	<key>lineedit_history_viewer-search-panel-expression</key>
	<array>
		<string>chapter</string>
		<string>chapter 15</string>
	</array>
</dict>
</plist>
